.product_container {
	display: flex;
	background-color: #fff;
  width: 100%;
  justify-content: space-between;
	align-items: center;
	padding: 18px 30px 18px 20px;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;
	.image_container {
		height: 80px;
		width: 80px;
		margin-right: 20px;
		img {
			width: 100%;
		}
	}
	div {
		width: 90%;
		display: flex;
		flex-direction: column;
		h3 {
			font-size: 1rem;
			color: #6f6f6f;
			font-weight: 600;
			margin-bottom: 12px;
		}
		.product_description {
			font-size: 14px;
			color: #6f6f6f;
			font-weight: 400;
			margin-bottom: 12px;
		}
		span {
			margin-bottom: 8px;
			button {
				background-color: none;
				border: none;
				font-size: 11px;
				text-transform: capitalize;
				color: #6f6f6f;
				padding: 0;
				margin-right: 12px;
			}
		}
	}
	.votes {
		height: 74px;
		width: 64px;
		margin-left: 12px;
		border-color: #e8e8e8;
		span {
			display: inline-block;
		}
	}
}
.product_container:hover {
	background-color: #f9f9f9;
}
